body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
img {
  display: block;
  /* width: 100%; */
  height: auto;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* Index HTML */
/* #region Header */
.header {
  padding: 22px 0;
  margin-bottom: 24px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 93%;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-nav-img {
  width: 46px;
  height: 36px;
}
.header-nav-list {
  display: flex;
  align-items: center;
  margin-left: 237px;
  margin-right: 73px;
  gap: 30px;
}
.header-nav-list-item {
}
.header-nav-list-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #22343d;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-list-link:hover,
.header-nav-list-link:focus {
  color: #02897a;
}
.header-buttons {
  display: flex;
  align-items: center;
  gap: 21px;
}
.header-buttons-list-item {
}
.header-buttons-list-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  display: flex;
  align-items: center;
  padding: 9px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-buttons-list-btn-sign-up {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  padding: 9px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-buttons-list-btn:hover,
.header-buttons-list-btn:focus {
  background-color: #dedede;
}
.header-buttons-list-btn-sign-up:hover,
.header-buttons-list-btn-sign-up:focus {
  background-color: #173a56;
}
/* #endregion Header*/

/* #region Sect1*/
.hero-section {
  margin-bottom: 100px;
}
.hero {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #22343d;
  margin-bottom: 18px;
}
.hero-container {
  display: flex;
  align-items: center;
}
.hero-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #22343d;
  margin-bottom: 45px;
}
.hero-buttons {
  display: flex;
  align-items: baseline;
  gap: 30px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
}
.hero-buttons-list {
}
.hero-buttons-btn-get-started {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  padding: 14px 41px;
}
.hero-buttons-btn-watch {
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: #fff;
}
.hero-img {
  width: 610px;
  height: 555px;
}
/* #endregion Sect1*/

/* #region Sect2*/
.product-section {
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.product-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 50px;
}
.product-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
}
.product-list-item {
  flex-basis: calc((100% - 120px) / 3);
}
.product-list-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
}
.product-list-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #22343d;
}
.product-button-container {
  display: flex;
  justify-content: center;
}
.product-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  padding: 15px 32px;
}

/* #endregion Sect2*/

/* #region Sect3*/
.management-section {
  padding-bottom: 41px;
  padding-top: 91px;
  margin-bottom: 100px;
}
.management {
  display: flex;
  gap: 84px;
}
.management-container {
  display: flex;
  flex-direction: column;
}
.management-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}
.management-heading-span {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}
.management-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #22343d;
  margin-bottom: 30px;
}
.management-list {
}
.management-list-item {
  margin-bottom: 25px;
}
.management-list-item-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;

  line-height: 162%;
  color: #22343d;
  margin-bottom: 12px;
}
.management-list-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 162%;
  color: #22343d;
}
.management-img {
}

/* #endregion Sect3*/

/* #region Sect4*/
.support-section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 100px;
}
.support {
  display: flex;
  flex-direction: row-reverse;
  gap: 84px;
}
.support-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}
.support-heading-span {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}
.support-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 162%;
  color: #22343d;
  margin-bottom: 30px;
}
.support-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.support-list-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 162%;
  color: #22343d;
}
.support-img {
}
/* #endregion Sect4*/

/* #region Sect5*/
.collaboration-section {
  padding-top: 37px;
  padding-bottom: 45px;
  margin-bottom: 145px;
}
.collaboration {
  display: flex;
  gap: 84px;
}
.collaboration-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}
.collaboration-heading-span {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}
.collaboration-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #22343d;
  margin-bottom: 30px;
}
.collaboration-list {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.collaboration-list-item {
}
.collaboration-list-item-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 162%;
  color: #22343d;
  margin-bottom: 12px;
}
.collaboration-list-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 162%;
  color: #22343d;
}
.collaboration-img {
}
/* #endregion Sect5*/

/* #region Sect6*/
.process-section {
  margin-bottom: 100px;
}
.process-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 25px;
}
.process-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: #22343d;
  margin-bottom: 40px;
}
.process-list {
}
.process-list-item {
  display: flex;
  justify-content: ;
}
.process-list-img {
  border-radius: 100%;
  stroke-width: 2px;
  stroke: #ff0909;
}
.process-list-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
  fill: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  border-radius: 5px;
  max-height: 50px;
}
.process-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #02897a;
}
/* #endregion Sect6*/

/* #region Sect7*/
.strategy-section {
  padding-top: 50px;
  padding-bottom: 85px;
}
.strategy-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}
.strategy-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: #22343d;
  margin-bottom: 40px;
  max-width: 465px;
}
.strategy-list {
  display: flex;
  gap: 30px;
}
.strategy-list-item {
  flex-basis: calc((100% - 60) / 3);
  border: 1px solid #dedede;
  border-radius: 8px;
}
.strategy-list-item-img {
  margin-bottom: 12px;
}
.strategy-list-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #22343d;
  display: inline;
  margin-bottom: 12px;

  margin-left: 24px;
}
.strategy-list-item-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  color: #22343d;
  padding: 0 27px 33px 27px;
  margin-top: 12px;
}
.strategy-list-span {
  color: #02897a;
}
/* #endregion Sect7*/

/* #region Sect8*/
.price {
  margin-bottom: 100px;
}

.price-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
}
.price-text {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 500;
}
.price-list {
  display: flex;
  gap: 72px;
}
.price-item {
  padding: 32px 0;
  width: calc((100% - 144px) / 3);
  text-align: center;
  font-family: 'Montserrat', serif;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}
.price-item-title {
  margin-bottom: 8px;
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
}
.price-item-text {
  margin-bottom: 16px;
  line-height: 2.5;
}

.price-item-inner {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-item-number {
  margin-right: 7px;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  color: #02897a;
}
.price-item-currency {
  margin-bottom: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}
.price-item-term {
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.price-inner {
  margin-bottom: 30px;
}
.inner--item:not(:last-child) {
  margin-bottom: 16px;
}

.inner--item_item {
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0.01em;
}
.middle {
  background-color: #02897a;
  color: #fff;
}
.middle-number {
  color: #fff;
}
.middle-heading {
  color: #fff;
}
.button-price {
  padding: 11px 0;
  min-width: 139px;
  font-weight: 600;
  font-size: 18px;
  background-color: #02897a;
  color: #fff;
  border-radius: 8px;
}
.middle-btn {
  background-color: #fff;
  color: #02897a;
}
/* #endregion Sect8*/

/* #region Sect9*/
.clients-section {
  margin-bottom: 100px;
}
.clients-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 178%;
  letter-spacing: 0.01em;
  color: #22343d;
  text-align: center;
  margin-bottom: 10px;
}
.clients-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
  margin-bottom: 40px;
}
.clients-list {
  display: flex;
  gap: 65px;
}
.clients-list-item {
  padding-top: 24px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #dedede;
  border-radius: 5px;
  width: calc((100% - 130px) / 3);
}
.clients-list-item-stars {
  width: 106px;
  height: 18px;
}
.clients-list-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 28px; */
  line-height: 175%;
  letter-spacing: 0.01em;
  color: #737373;
}
.name-container {
  display: flex;
}
.clients-list-item-photo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  stroke-width: 1px;
  stroke: #bdbdbd;
  margin-right: 16px;
}
.clients-list-item-creator {
}
.clients-list-item-span {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #02897a;
}
.clients-list-item-designer-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;

  /* line-height: 24px; */
  line-height: 171%;
  letter-spacing: 0.01em;
  color: #252b42;
}

/* #endregion Sect9*/

/* #region Sect10*/
.graphics-section {
  margin-bottom: 100px;
}
.graphics-container {
  width: 968px;
  height: 345px;
  background: #02897a;
  border-radius: 32px;
  display: flex;
  padding-right: 46px;
  padding-left: 51px;
}
.graphics-heading {
  padding-top: 49px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 151%;
  color: #fff;
  margin-bottom: 46px;
}
.graphics-content {
  margin-right: 16px;
}
.graphics-btn {
  background-color: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  padding: 10px 34px;
  border: 1px solid #02897a;
}
.graphics-img {
  width: 351px;
  height: 331px;
}
/* #endregion Sect10*/

/* #region Footer*/
.footer {
}
.footer-nav {
}
.footer-nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;

  /* line-height: 28px; */
  line-height: 93%;
  color: #173a56;
}
.footer-link {
}
.footer-list {
}
.footer-list-item {
}
.footer-list-item-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;

  /* line-height: 30px; */
  line-height: 150%;
  color: #22343d;
}
.footer-list-item-ul {
}
.footer-list-item-ul-li {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 35px; */
  line-height: 219%;
  color: #22343d;
}
.rights-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 30px; */
  line-height: 187%;
  color: #22343d;
}
/* #endregion Footer*/

/* Customers HTML */
/* #region Clients */
.customers-clients-section {
}
.customers-clients-hero {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #22343d;
}
.customers-clients-list {
}
.customers-clients-list-item {
}
.customers-clients-list-item-img {
}

/* #endregion Customers*/

/* #region Product*/
.customers-product-section {
}
.customers-product-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
}
.customers-product-list {
}
.customers-product-list-item {
}
.customers-product-list-item-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;

  /* line-height: 33px; */
  line-height: 137%;
  letter-spacing: 0em;
  text-align: center;
  color: #22343d;
}
.customers-product-list-item-paragraph {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;

  /* line-height: 33px; */
  line-height: 137%;
  letter-spacing: 0em;
  text-align: center;
  color: #22343d;
}

/* #endregion Product*/

/* #region Work*/
.customers-work-section {
}
.customers-work-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
}
.customers-work-list {
}
.customers-work-list-item {
}
.customers-work-list-img {
}
.customers-work-list-text-step {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #22343d;
}
.customers-work-list-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #22343d;
}
.customers-work-list-paragraph {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 28px; */
  line-height: 175%;
  color: #22343d;
}
.customers-work-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #02897a;
}

/* #endregion Work*/

/* #region Join*/
.customers-join-section {
}
.customers-join-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
}
.customers-join-list {
}
.customers-join-list-item {
}
.customers-join-list-item-img {
}
.customers-join-list-item-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;

  /* line-height: 28px; */
  line-height: 117%;
  color: #000;
}
.customers-join-list-item-ul {
}
.customers-join-list-item-ul-li {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;

  /* line-height: 32px; */
  line-height: 178%;
  text-align: center;
  color: #22343d;
}
.custoemrs-join-paragraph {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 28px; */
  line-height: 175%;
  color: #000;
}
/* #endregion Join*/

/* #region Promo*/
.customers-promo-section {
}
.customers-promo-heading {
}
.customers-promo-button {
}
.customers-promo-img {
}
/* #endregion Promo*/

/* Pricing HTML */
/* #region Price */
.price-section {
}
.price-pricing-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
}
.price-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #22343d;
}
.price-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #22343d;
}
/* #endregion Price*/

/* #region Enterprise*/
.pricing-enterprise {
}
.pricing-enterprise-heading-enterprise {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
}
.pricing-enterprise-headnig {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
}
.pricing-enterprise-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #22343d;
}
.pricing-enterprise-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #02897a;
}

/* #endregion Enterprise*/

/* #region Used*/
.pricing-used-section {
}
.pricing-used-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
}
.pricing-used-img {
  width: 528px;
  height: 392px;
}
.pricing-used-list {
}
.pricing-used-list-item {
}
.pricing-used-list-item-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #22343d;
}
.pricing-used-list-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 28px; */
  line-height: 175%;
  color: #22343d;
}

/* #endregion Used*/

/* #region Question*/
.pricing-question {
}
.pricing-question-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
}
.pricing-question-text {
}
.pricing-question-list {
}
.pricing-question-list-item {
}
.pricing-question-list-item-questions {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #22343d;
}
.pricing-question-list-item-answer {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #22343d;
}

/* #endregion Question*/
